.docker-image:
  image: registry-haiyan2.local.huya.com/library/docker:19.03.5 # registry-haiyan2.local.huya.com/baseimg/centos7:latest
  before_script:
    - docker version
    - harborhost=harbor.huya.info
    - harbortesthost=harbor-yctest.huya.info
    - timetag=$(date "+%Y-%m-%d-%H%M%S")
    - docker login ${harborhost} -u${HARBOR_USER} -p "${HARBOR_PASSWORD}"
    - docker login ${harbortesthost} -u${HARBOR_USER} -p "${HARBOR_PASSWORD}"
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    FF_TIMESTAMPS: "true"
    TIMEZONE: "Europe/Paris"
  services:
    - name: docker:28.0.4-dind
      alias: docker


image_build:
  extends: .docker-image
  stage: build
  script:
    - echo "OPENAI_API_KEY=${PIOLT_TOKEN}" >> .env
    - echo "OPENAI_BASE_URL=https://copilot.huya.info/openai/api/v1" >> .env
    - imgname=harbor_monorepo/deepseek
    - docker build -t ${harbortesthost}/${imgname}:${timetag} .
    - docker push ${harbortesthost}/${imgname}:${timetag}
